.App {
  font-family: sans-serif;
  text-align: center;
}

.Avatar {
  background: white;
  position: absolute;
  transition: transform 0.5s ease;

  padding: 10px;
  box-shadow: 0 0 1px 0px lightblue, 0 0 5px lightgray inset, 1px 1px 10px gray;
  border-radius: 50%;
  font-family: sans-serif;
}

.Avatar video {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  z-index: -1;
  position: relative;
  opacity: 0;
}

.Avatar .avatarInset {
  border-radius: 50%;
  box-shadow: 0 0 10px lightgray inset;
  isolation: isolate;
}

.Avatar.avatarVideo video {
  transition: opacity 1s ease;
  opacity: 1;
}

.Avatar .avatarVolume {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 1px lightgray;
  font-size: 80%;
}

.CallDialog {
  background: white;
  box-shadow: 0 0 10px gray;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
}

.CallDialog button + button {
  margin-left: 10px;
}

.Avatars {
  position: fixed;
  inset: 0;
}

.HUD {
  position: fixed;
  inset: 0;
  box-shadow: 0 0 20px black inset;
}
